{% extends 'base.html' %}
{% load static %}
{% block title %}
HomePage
{% endblock title %}

{% block content %}

<div class="w3-container ">
  
    <div class="w3-card-4" style="width:40%; margin-left: 30%;">
      <img src="{% static 'images/order.jpg' %}" alt="Alps" style="width:60%; height:40%; margin-left: 110px;">
      <div class="w3-container w3-center w3-hover-shadow">
        <p style="font-family: 'SF Slapstick Comic Shaded'"><button class="w3-button w3-black w3-round-xxlarge ">Order Now</button></p>
      </div>
    </div>
  </div>


{% endblock content %}


 